@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --btn-2bg:#c9d1d9;
    --bg-btn: #23232E;
    --bg-color: #0F0E18;
    --topNav-bg: #181823;
    --text-color: #6E7FC1;
    --help-bg:#1D143D;
    --btn-color:#119B1A;
    --input-bg:#0F0E18;
}

body {
    background-color:var(--bg-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-nav {
    justify-content: center;
    padding: 8px 15px;
    background-color: var(--topNav-bg);
    justify-content: space-between;
}
.left-content {
    padding: 0px 10px;
    display: inline-flex
}

.fa-github {
    color: white;
    font-size: 26px;
    margin: 6px 10px 0 0;
    cursor: pointer;

}

.left-content input {
    display: table-cell;
    margin-top: 5px;
    /* letter-spacing: .1rem; */
    color: white;
    width: 250px;
    outline: none;
    border: 1px solid rgba(56, 56, 56, 0.5);
    padding: 3px;
    height: 1.6rem;
    border-radius: 5px;
    background-color: var(--input-bg);
}

.left-content input::placeholder {
    color: white;
    font-size: .7rem;
}

.left-content ul li {
    display: inline-flex;
    color: white;
    padding: 10px;
    font-size: .75rem;
    cursor: pointer;
    font-weight: 600;
    white-space: nowrap;
}

/* right-container  */
.right-content {
    float: right;
    justify-content: left;
    display: inline-flex;
}

.right-content i{
    cursor: pointer;
    display: inline-flex;
    color: white;
    padding: 10px;
}

.create {
    display: inline-flex;
}
.create > .fa-caret-down {
    margin-left: -15px;
    font-size: .75rem;

}
.user {
    display: inline-flex;
}

.user img {
    cursor: pointer;
    width: 1.5rem;
    margin: 5px 0px;
    height: 1.5rem;
    font-size: .75rem;
    border-radius: 50%;
}

.user > .fa-caret-down{
    margin-left: -5px;
    font-size: .75rem;
}

.fa-caret-down {
    margin-top: 10  px;
}

.fa-plus {
    font-size: .75rem;
}

.fa-bell {
    font-size: .75;
}

/* user option  */

.user-option {
    margin: 10px 0;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}
.user-info {
    cursor: pointer;
    display: inline-flex;
    color: var(--text-color);
}

#repo {
    font-weight: bold;
}

#public {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(56, 56, 56, 0.5);
    color: #aaa;
    padding: 3px 12px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: .55em;
}

.more-option {
    display: inline-flex;
    color: white;
    font-weight: 200;
    font-size: .85rem;
    cursor: pointer;
}

.unwatch {
    display: inline-flex;
}

.un-one {
    display: inline-flex;
    border: 1px solid rgba(56, 56, 56, 0.5);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 3px 8px;
    font-size: .75em;
    background-color: var(--bg-btn);
}

.un-one i {
    margin:0px 5px;
}
.num {
    background-color: transparent;
    /* border: 1px solid rgba(56, 56, 56, 0.5); */
    border: 1px solid rgba(56, 56, 56, 0.5);
    padding: 2px 5px;
    color: #aaa;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: -1px;
}

.star {
    margin: 0px 4px;
}

/* repo menu  */
.repo-menu {
    margin-bottom: 5px;
    padding: 0px 30px;
    color: white;
    border-bottom: 1px solid rgba(56, 56, 56, 0.5)
}


.repo-menu ul li {
    font-weight: 220;
    display: inline-flex;
    list-style: none;
    text-decoration: none;
    font-size: .8em;
    padding: 0px 20px 20px 20px;
    cursor: pointer;
}

.repo-menu ul li i {
    opacity: .5;
    cursor: pointer;
    margin-right: 5px;
}

#active {
    border-bottom: 1px solid orange;
    margin-left: -18px;
    border-bottom: 2px solid #0c0c0c;
}

/* content  */
.content {
    padding: 30px 120px;
    display: flex;
    /* border-bottom: 1px solid rgba(56, 56, 56, 0.5); */
}

hr {
    opacity: .1;
    margin: 60px 200px 10px 120px;
}
/* .main-content  */
.main-content {
    width: 60%;
    height: auto;
    margin-right: 60px;
}

.master-menu {
    justify-content: space-between;
    display: flex;
    cursor: pointer;
}

.master-tag {
    display: inline-flex;
}

.mast-cont {
    margin-right: 15px;
    display: inline-flex;
    border: 1px solid #aaa;
    border-radius: 5px;
    color: white;
    font-size: .8em;
    font-weight: 250;
}

.mast-cont i {
    opacity:.5;
    margin: 8px 10px;
    font-size: .75rem;
}

.mast-cont  p {
    margin-top: 7px;
}


.branch {
    color: white;
    display: inline-flex;
    font-size: .8em;
    font-weight: 250;
    margin-right: 15px;
}

.branch i{
    opacity:.5;
    margin: 8px 10px;
    font-size: .75rem;
}

.branch p {
    margin-top: 7px;
}

.tag {
    color: white;
    display: inline-flex;
    font-size: .8em;
    font-weight: 250;
}

.tag i{
    opacity:.5;
    margin: 8px 10px;
    font-size: .75rem;
}

.tag p {
    margin-top: 7px;
}
.new-file {
    display: inline-flex;
    color: white;
}
.add-file  p {
    margin-top: 5px;
}

.add-file i {
    margin: 6px 0px 0px 4px;
}

#go-to {
    border-bottom: 1px solid rgba(56, 56, 56, 0.5);
    border-radius: 5px;
    padding: 5px 7px;
    margin-right: 8px;
    text-align: center;
    font-size: .75rem;
    opacity: .5;
}
.add-file{
    opacity: .5;
    display: inline-flex;
    text-align: center;
    border-bottom: 1px solid rgba(56, 56, 56, 0.5);
    border-radius: 5px;
    padding: 3px 7px;
    margin-right: 8px;
    font-size: .75rem;
}

.code {
    text-align: center;
    display: inline-flex;
    font-size: .75rem;
    color: white;
    cursor: pointer;
    padding: 3px 8px;
    background-color: var(--btn-color);
    border-radius: 5px;
}

.code  p {
    margin: 5px 0px;
}

.code i {
    margin: 6px;
}

/* sub-content  */

.sub-content {
    color: white;
    /* width: 100vw; */
}

.top-sub {
    /* font-family: 'Times New Roman', Times, serif; */
    display: flex;
    justify-content: space-between;
}

.top-sub p{
    font-size: .85rem;
    cursor: pointer;
}
.top-sub i {
    opacity: .5;
    cursor: pointer;
}

#abt-descr {
    letter-spacing: .1rem;
    font-weight: 250;
    font-size: .9rem;
    padding: 10px 0px 40px 0px;
    border-bottom: 1px solid rgba(56, 56, 56, 0.5);
}

#release {
    padding: 20px 0px;
    cursor: pointer;
}

.rel {
    cursor: pointer;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(56, 56, 56, 0.5)
}
#p1, #p2{
    font-size: .8rem;
    cursor: pointer;
}

#p2 small {
    color: var(--text-color) !important;
}


/* table-content  */
.table-content {
    color: white;
    border: 1px solid rgba(56, 56, 56, 0.5);
    border-radius: 5px;
    margin-top: 10px;
}
.top-table {
    background-color: #161b22;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.default-set {
    display: inline-flex;
    font-size: .7em;
}

#span-usr {
    font-weight: 450;
}
.default-set p {
    margin-left: 10px;
    font-weight: 300;
}
.default-set img {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.repo-info {
    display: inline-flex;
    font-size: .7em;
    font-weight: 300;
}

.repo-info p {
    padding: 0px 8px;
}

.repo-info i {
    opacity: .9;
    margin-right: 5px;
}
em {
    margin: 0px 8px;
}


/* commits  */

.row-coms{
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
    font-size: .8em;
    font-weight: 200;
    cursor: pointer;
    border-bottom: 1px solid rgba(56, 56, 56, 0.5)
}

.notes i{
    opacity: .8;
    margin-right: 5px;
}

.row-coms:hover {
    opacity: .8;
}

#cont {
    margin-left: 40px;
}

.add-redMe {
    border-radius: 5px;
    display: flex;
    color: #c9d1d9;
    justify-content: space-between;
    font-size: .8em;
    padding: 10px;
    margin-top: 15px;
    background-image: linear-gradient rgba(56, 139,253,0.15), rgba(56, 139, 253, 0.15);
    border: 1px solid rgba(56, 139, 259, 0.4)
}
.add-redMe p {
    font-weight: 280;
}
.add-readme {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: .7;
    cursor: pointer;
    color: white;
    background-color: var(--btn-color);
}
footer {
    display:flex;
    padding: 30px 120px;
    font-size: .8rem;
    font-weight: 300;
}

.list ul li {
    color: var(--text-color);
    list-style: none;
    text-decoration: none;
    display: inline-flex;
    padding: 0px 20px;
    cursor: pointer;
}

.copy-r {
    color: white;
}

.img-logo {
    margin-top: -12px;
}

